# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Mac system files
.DS_Store

# Model files (avoid pushing large files)
model/
*.h5
*.pkl

# Logs
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Temporary files
*.tmp
